<?xml version="1.0" encoding="ISO-8859-1"?>
        <!--
                Licensed to the Apache Software Foundation (ASF) under one or more
                contributor license agreements. See the NOTICE file distributed with
                this work for additional information regarding copyright ownership.
                The ASF licenses this file to You under the Apache License, Version
                2.0 (the "License"); you may not use this file except in compliance
                with the License. You may obtain a copy of the License at

                http://www.apache.org/licenses/LICENSE-2.0 Unless required by
                applicable law or agreed to in writing, software distributed under the
                License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
                CONDITIONS OF ANY KIND, either express or implied. See the License for
                the specific language governing permissions and limitations under the
                License.
        -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

        <display-name>Pentaho Admin Console</display-name>
        <description>Pentaho Admin Console</description>
        
       <servlet>
                <servlet-name>solutionrepositorysvc</servlet-name>
                <servlet-class>org.pentaho.pac.server.SolutionRepositoryServiceImpl</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>solutionrepositorysvc</servlet-name>
                <url-pattern>/org.pentaho.pac.PentahoAdminConsole/solutionrepositorysvc</url-pattern>
        </servlet-mapping>
         <servlet>
                <servlet-name>subscriptionsvc</servlet-name>
                <servlet-class>org.pentaho.pac.server.SubscriptionServiceImpl</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>subscriptionsvc</servlet-name>
                <url-pattern>/org.pentaho.pac.PentahoAdminConsole/subscriptionsvc</url-pattern>
        </servlet-mapping>
        <servlet>
                <servlet-name>schedulersvc</servlet-name>
                <servlet-class>org.pentaho.pac.server.SchedulerServiceImpl</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>schedulersvc</servlet-name>
                <url-pattern>/org.pentaho.pac.PentahoAdminConsole/schedulersvc</url-pattern>
        </servlet-mapping>
        <servlet>
                <servlet-name>pacsvc</servlet-name>
                <servlet-class>org.pentaho.pac.server.PacServiceImpl</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>pacsvc</servlet-name>
                <url-pattern>/org.pentaho.pac.PentahoAdminConsole/pacsvc</url-pattern>
        </servlet-mapping>
        <servlet>
                <servlet-name>halt</servlet-name>
                <servlet-class>org.pentaho.pac.server.DefaultConsoleServlet</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>halt</servlet-name>
                <url-pattern>/org.pentaho.pac.PentahoAdminConsole/halt</url-pattern>
        </servlet-mapping>
        <servlet>
                <servlet-name>jdbcdriverdiscoverysvc</servlet-name>
                <servlet-class>org.pentaho.pac.server.common.JdbcDriverDiscoveryServiceImpl</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>jdbcdriverdiscoverysvc</servlet-name>
                <url-pattern>/org.pentaho.pac.PentahoAdminConsole/jdbcdriverdiscoverysvc</url-pattern>
        </servlet-mapping>
        <servlet>
                <servlet-name>hibernateconfigurationsvc</servlet-name>
                <servlet-class>org.pentaho.pac.server.common.HibernateConfigurationServiceImpl</servlet-class>
        </servlet>
        <servlet-mapping>
                <servlet-name>hibernateconfigurationsvc</servlet-name>
                <url-pattern>/org.pentaho.pac.PentahoAdminConsole/hibernateconfigurationsvc</url-pattern>
        </servlet-mapping>
        
</web-app>
